/* reset */
:root {
  --gray-50: #f7f7f8;
  --gray-100: #d9d8df;
  --gray-300: #b8b5c4;
  --gray-700: #4c495b;
  --gray-900: #28262e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--gray-900);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

a {
  cursor: pointer;
  color: var(--gray-900);
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 600;
}

p,
span {
  color: var(--gray-300);
  font-size: 1.125rem;
  font-weight: 400;
}

h1 {
  color: var(--gray-50);
  font-size: 1.5em;
  font-weight: 600;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* avatar */
.avatar {
  box-sizing: initial;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 5px solid var(--gray-700);
  transition: 1s;
  overflow: hidden;
}

/* card */
.card {
  width: 100%;
  margin: 0.5rem 0;
  padding: 12px;
  gap: 1rem;
  border-radius: 5px;
  background-color: var(--gray-100);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.card:hover {
  background: var(--gray-50);
  transform: scale(1.05) !important;
}

.card p,
svg {
  font-size: 1.5rem;
  font-weight: 500;
}

/* delays the animation of the last card */
#instagram {
  --animate-duration: 1.2s;
}
